In [1]:
import pandas as pd
import numpy as np
import os
import importlib
from datetime import datetime

In [2]:
base_path = '/Users/yifanli/Github/fidelity-portfolio-tracker'
os.chdir(base_path)

In [8]:
from support_functions import portfolio, data_loader

In [9]:
importlib.reload(data_loader)

In [10]:
data_folder_path = './data'
transaction_file_pattern = 'Accounts_History_*.csv'
position_file_pattern = 'Portfolio_Positions_*.csv'

transactions = data_loader.load_transaction(data_folder_path, transaction_file_pattern)
position = data_loader.load_position(data_folder_path, position_file_pattern)

In [11]:
importlib.reload(portfolio)
Portfolio = portfolio.Portfolio

In [6]:
current_portfolio = Portfolio(transactions=transactions, position=position)

# Attribute 1: get investment distribution

In [291]:
# [current_portfolio.get_total_investment(),current_portfolio.get_stock_investment(),current_portfolio.get_bill_investment(),current_portfolio.get_other_investment()]
current_portfolio.get_investment_distribution()

   Class     Amount  Percent
0  stock  240727.72   40.12%
1   bill  316079.98   52.68%
2  other   43192.30    7.20%
3  total  600000.00  100.00%

In [284]:
# individual_position = current_portfolio.individual_position
# bills_position = individual_position[individual_position['Description'].str.contains('BILLS')]
# other_position = individual_position[individual_position['Description']=='HELD IN MONEY MARKET']
# stock_position = individual_position[~(individual_position['Description']=='HELD IN MONEY MARKET') & ~(individual_position['Description'].str.contains('BILLS'))]

individual_transactions = current_portfolio.individual_transactions
individual_transactions[individual_transactions['Symbol']=='Transfer']

,Run Date,Account,Action,Symbol,Description,Type,Quantity,Price ($),Commission ($),Fees ($),Accrued Interest ($),Amount ($),Settlement Date
0,2022-07-26,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,1000.0,NaT
7,2022-08-08,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,29000.0,NaT
92,2023-12-18,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,30000.0,NaT
100,2024-01-22,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,40000.0,NaT
142,2024-03-27,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,1500.0,NaT
161,2024-04-15,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,148500.0,NaT
162,2024-04-16,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,-148500.0,NaT
164,2024-04-17,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,148500.0,NaT
171,2024-04-29,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,100000.0,NaT
174,2024-04-30,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,-100000.0,NaT
180,2024-05-01,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,100000.0,NaT
181,2024-05-02,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,-100000.0,NaT
184,2024-05-07,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,140000.0,NaT
189,2024-05-16,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,50000.0,NaT
195,2024-05-30,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,10000.0,NaT
211,2024-06-11,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,50000.0,NaT
268,2024-08-14,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,50000.0,NaT
302,2024-09-26,Individual Z23390746,Electronic Funds Transfer Received (Cash),Transfer,No Description,Cash,0.0,NaN,NaN,NaN,NaN,50000.0,NaT

In [261]:
stock_position

,Account Number,Account Name,Symbol,Description,Quantity,Last Price,Last Price Change,Current Value,Today's Gain/Loss Dollar,Today's Gain/Loss Percent,Total Gain/Loss Dollar,Total Gain/Loss Percent,Percent Of Account,Cost Basis Total,Average Cost Basis,Type
9,Z23390746,Individual,AAPL,APPLE INC,70,$224.23,-$2.73,15696.10,-$191.10,-1.21%,+$4936.11,+45.87%,2.44%,$10759.99,$153.71,Cash
10,Z23390746,Individual,AMZN,AMAZON.COM INC,10,$206.84,-$1.34,2068.40,-$13.40,-0.65%,+$1118.40,+117.72%,0.32%,$950.00,$95.00,Cash
11,Z23390746,Individual,AXP,AMERICAN EXPRESS CO COM USD0.20,10,$292.97,+$5.37,2929.70,+$53.70,+1.86%,+$1429.70,+95.31%,0.46%,$1500.00,$150.00,Cash
12,Z23390746,Individual,BRKB,BERKSHIRE HATHAWAY INC COM USD0.0033 CLASS B,10,$467.36,+$3.95,4673.60,+$39.50,+0.85%,+$73.60,+1.60%,0.73%,$4600.00,$460.00,Cash
13,Z23390746,Individual,COKE,COCA COLA CONS INC COM,2,$1220.87,-$3.69,2441.74,-$7.38,-0.31%,+$266.74,+12.26%,0.38%,$2175.00,$1087.50,Cash
14,Z23390746,Individual,FSKAX,FIDELITY TOTAL MARKET INDEX FUND,406.95,$166.67,+$0.49,67826.35,+$199.40,+0.29%,+$7826.35,+13.04%,10.54%,$60000.00,$147.44,Cash
15,Z23390746,Individual,FSPSX,FIDELITY INTERNATL INDEX FUND,1192.043,$50.54,+$0.04,60245.85,+$47.68,+0.07%,+$245.85,+0.40%,9.36%,$60000.00,$50.33,Cash
16,Z23390746,Individual,FXAIX,FIDELITY 500 INDEX FUND,378.147,$208.63,+$0.20,78892.80,+$75.62,+0.09%,+$8482.22,+12.04%,12.26%,$70410.58,$186.20,Cash
17,Z23390746,Individual,GOOGL,ALPHABET INC CAP STK CL A,20,$180.35,+$2.00,3607.00,+$40.00,+1.12%,+$1777.00,+97.10%,0.56%,$1830.00,$91.50,Cash
18,Z23390746,Individual,JPM,JPMORGAN CHASE &CO. COM,10,$239.29,+$2.31,2392.90,+$23.10,+0.97%,+$1192.90,+99.40%,0.37%,$1200.00,$120.00,Cash
19,Z23390746,Individual,MCD,MCDONALD S CORP,20,$301.53,+$2.56,6030.60,+$51.20,+0.85%,+$873.10,+16.92%,0.94%,$5157.50,$257.88,Cash
20,Z23390746,Individual,MSFT,MICROSOFT CORP,30,$418.01,-$4.53,12540.30,-$135.90,-1.08%,-$802.65,-6.02%,1.95%,$13342.95,$444.77,Cash
21,Z23390746,Individual,NKE,NIKE INC CLASS B COM NPV,30,$76.60,+$0.72,2298.00,+$21.60,+0.94%,-$282.80,-10.96%,0.36%,$2580.80,$86.03,Cash
22,Z23390746,Individual,SBUX,STARBUCKS CORP COM USD0.001,30,$100.31,+$2.76,3009.30,+$82.80,+2.82%,+$555.90,+22.65%,0.47%,$2453.40,$81.78,Cash
23,Z23390746,Individual,TSLA,TESLA INC COM,20,$350.00,+$28.78,7000.00,+$575.60,+8.95%,+$3232.50,+85.79%,1.09%,$3767.50,$188.38,Cash

In [221]:
current_portfolio.individual_transactions['Symbol'].unique()

array(['Transfer', 'FZFXX', 'AAPL', 'SBUX', 'JPM', 'AXP', 'GOOGL', 'AMZN',
       'NKE', '912797JK4', '912797LL9', '912797GN1', '912797GZ4',
       '912797HG5', 'TSLA', 'FXAIX', '912797HQ3', '912797HT7', 'MCD',
       '912797GB7', '912797HS9', '912797JT5', '912797KV8', '912797JU2',
       '912797KB2', '912797KC0', 'FSKAX', 'FSPSX', 'COKE', 'MSFT',
       '912797KL0', '912797LH8', '912797KA4', '912797LE5', '912797GW1',
       '912797HP5', '912797KT3', '912797LC9', '912797LR6', '912797MB0'],
      dtype=object)

In [222]:
from scipy.optimize import root_scalar

def calculate_irr(sub_transactions_copy, lower_bound=-0.999, upper_bound=5):
    def npv(rate):
        return np.sum(sub_transactions_copy['Amount ($)'] * (1 + rate) ** sub_transactions_copy['time_diffs_in_year'])
    result = root_scalar(npv, bracket=[lower_bound, upper_bound], method='bisect')
    
    if result.converged:
        return result.root
    else:
        raise ValueError("No solution found for the rate that satisfies the equation.")

In [ ]:
new_rows = pd.DataFrame({
    "Run Date": [current_portfolio.today] * len(current_portfolio.individual_position),
    "Symbol": current_portfolio.individual_position["Symbol"],
    "Amount ($)": current_portfolio.individual_position["Current Value"]
})

individual_transactions = pd.concat([current_portfolio.individual_transactions, new_rows], ignore_index=True)

In [229]:
irr_dict = {}
for symbol in individual_transactions['Symbol'].unique():
    if not symbol == 'Transfer':
        sub_transactions = individual_transactions[individual_transactions['Symbol']==symbol]
        sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
        irr_dict[symbol] = calculate_irr(sub_transactions)

/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25
/var/folders/r_/js4cr3ps49j4qkf0dy2w4lm00000gn/T/ipykernel_35122/3531177934.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sub_transactions['time_diffs_in_year'] = (current_portfolio.today - sub_transactions['Run Date']).apply(lambda x: x.days)/365.25

ValueError: f(a) and f(b) must have different signs

In [231]:
sub_transactions

,Run Date,Account,Action,Symbol,Description,Type,Quantity,Price ($),Commission ($),Fees ($),Accrued Interest ($),Amount ($),Settlement Date,time_diffs_in_year
114,2024-04-22,Individual Z23390746,YOU BOUGHT UNITED STATES TREAS BILLS ZERO CPN...,912797KV8,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 1...,Cash,60000.0,97.39,NaN,NaN,NaN,-58434.8,NaT,0.561259
186,2024-09-10,Individual Z23390746,YOU BOUGHT UNITED STATES TREAS BILLS ZERO CPN...,912797KV8,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 1...,Cash,10000.0,99.42,NaN,NaN,NaN,-9941.9,NaT,0.175222

In [217]:
current_portfolio.individual_transactions[current_portfolio.individual_transactions['Symbol']=='912797HS9']

,Run Date,Account,Action,Symbol,Description,Type,Quantity,Price ($),Commission ($),Fees ($),Accrued Interest ($),Amount ($),Settlement Date
163,2024-04-16,Individual Z23390746,YOU BOUGHT UNITED STATES TREAS BILLS ZERO CPN...,912797HS9,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 0...,Cash,30000.0,99.38,NaN,NaN,NaN,-29815.03,NaT
196,2024-05-30,Individual Z23390746,REDEMPTION PAYOUT UNITED STATES TREAS BILLS Z...,912797HS9,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 0...,Cash,-30000.0,1.00,NaN,NaN,NaN,30000.00,NaT

In [218]:
current_portfolio.individual_position

,Account Number,Account Name,Symbol,Description,Quantity,Last Price,Last Price Change,Current Value,Today's Gain/Loss Dollar,Today's Gain/Loss Percent,Total Gain/Loss Dollar,Total Gain/Loss Percent,Percent Of Account,Cost Basis Total,Average Cost Basis,Type
0,Z23390746,Individual,FZFXX**,HELD IN MONEY MARKET,NaN,NaN,NaN,53946.02,NaN,NaN,NaN,NaN,8.38%,NaN,NaN,Cash
1,Z23390746,Individual,912797HP5,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 11...,50000,$99.789,$0.00,49894.50,$0.00,0.00%,+$530.83,+1.07%,7.75%,$49363.67,--,Cash
2,Z23390746,Individual,912797KA4,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 02...,20000,$98.786,$0.00,19757.20,$0.00,0.00%,+$239.50,+1.22%,3.07%,$19517.70,--,Cash
3,Z23390746,Individual,912797LE5,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 11...,50000,$99.889,$0.00,49944.50,$0.00,0.00%,+$583.40,+1.18%,7.76%,$49361.10,--,Cash
4,Z23390746,Individual,912797LP0,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 12...,20000,$99.626,$0.00,19925.20,$0.00,0.00%,+$33.23,+0.16%,3.10%,$19891.97,--,Cash
5,Z23390746,Individual,912797LR6,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 01...,30000,$99.368,$0.00,29810.40,$0.00,0.00%,+$151.65,+0.51%,4.63%,$29658.75,--,Cash
6,Z23390746,Individual,912797LX3,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 01...,50000,$99.283,$0.00,49641.50,$0.00,0.00%,+$216.57,+0.43%,7.71%,$49424.93,--,Cash
7,Z23390746,Individual,912797LY1,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 01...,50000,$99.199,+$0.001,49599.50,+$0.50,0.00%,+$170.15,+0.34%,7.71%,$49429.35,--,Cash
8,Z23390746,Individual,912797LZ8,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 01...,50000,$99.034,+$0.001,49517.00,+$0.50,0.00%,+$84.49,+0.17%,7.69%,$49432.51,--,Cash
9,Z23390746,Individual,AAPL,APPLE INC,70,$224.23,-$2.73,15696.10,-$191.10,-1.21%,+$4936.11,+45.87%,2.44%,$10759.99,$153.71,Cash
10,Z23390746,Individual,AMZN,AMAZON.COM INC,10,$206.84,-$1.34,2068.40,-$13.40,-0.65%,+$1118.40,+117.72%,0.32%,$950.00,$95.00,Cash
11,Z23390746,Individual,AXP,AMERICAN EXPRESS CO COM USD0.20,10,$292.97,+$5.37,2929.70,+$53.70,+1.86%,+$1429.70,+95.31%,0.46%,$1500.00,$150.00,Cash
12,Z23390746,Individual,BRKB,BERKSHIRE HATHAWAY INC COM USD0.0033 CLASS B,10,$467.36,+$3.95,4673.60,+$39.50,+0.85%,+$73.60,+1.60%,0.73%,$4600.00,$460.00,Cash
13,Z23390746,Individual,COKE,COCA COLA CONS INC COM,2,$1220.87,-$3.69,2441.74,-$7.38,-0.31%,+$266.74,+12.26%,0.38%,$2175.00,$1087.50,Cash
14,Z23390746,Individual,FSKAX,FIDELITY TOTAL MARKET INDEX FUND,406.95,$166.67,+$0.49,67826.35,+$199.40,+0.29%,+$7826.35,+13.04%,10.54%,$60000.00,$147.44,Cash
15,Z23390746,Individual,FSPSX,FIDELITY INTERNATL INDEX FUND,1192.043,$50.54,+$0.04,60245.85,+$47.68,+0.07%,+$245.85,+0.40%,9.36%,$60000.00,$50.33,Cash
16,Z23390746,Individual,FXAIX,FIDELITY 500 INDEX FUND,378.147,$208.63,+$0.20,78892.80,+$75.62,+0.09%,+$8482.22,+12.04%,12.26%,$70410.58,$186.20,Cash
17,Z23390746,Individual,GOOGL,ALPHABET INC CAP STK CL A,20,$180.35,+$2.00,3607.00,+$40.00,+1.12%,+$1777.00,+97.10%,0.56%,$1830.00,$91.50,Cash
18,Z23390746,Individual,JPM,JPMORGAN CHASE &CO. COM,10,$239.29,+$2.31,2392.90,+$23.10,+0.97%,+$1192.90,+99.40%,0.37%,$1200.00,$120.00,Cash
19,Z23390746,Individual,MCD,MCDONALD S CORP,20,$301.53,+$2.56,6030.60,+$51.20,+0.85%,+$873.10,+16.92%,0.94%,$5157.50,$257.88,Cash
20,Z23390746,Individual,MSFT,MICROSOFT CORP,30,$418.01,-$4.53,12540.30,-$135.90,-1.08%,-$802.65,-6.02%,1.95%,$13342.95,$444.77,Cash
21,Z23390746,Individual,NKE,NIKE INC CLASS B COM NPV,30,$76.60,+$0.72,2298.00,+$21.60,+0.94%,-$282.80,-10.96%,0.36%,$2580.80,$86.03,Cash
22,Z23390746,Individual,SBUX,STARBUCKS CORP COM USD0.001,30,$100.31,+$2.76,3009.30,+$82.80,+2.82%,+$555.90,+22.65%,0.47%,$2453.40,$81.78,Cash
23,Z23390746,Individual,TSLA,TESLA INC COM,20,$350.00,+$28.78,7000.00,+$575.60,+8.95%,+$3232.50,+85.79%,1.09%,$3767.50,$188.38,Cash

In [160]:
time_diffs = np.array([(datetime.now().date() - date).days for date in dates]) / 365.25
def npv(rate, cash_flows, time_diffs):
    return sum(cash_flows * (1 + rate) ** time_diffs)
for rate in np.arange(-0.999, 5, 0.001):
        if npv(rate, -cash_flows, time_diffs) > PV:
            break
rate

0.19800000000000106

In [207]:
from scipy.optimize import root_scalar

def calculate_irr(sub_transactions_copy, lower_bound=-0.999, upper_bound=5):
    def npv(rate):
        return np.sum(sub_transactions_copy['Amount ($)'] * (1 + rate) ** sub_transactions_copy['time_diffs_in_year'])
    result = root_scalar(npv, bracket=[lower_bound, upper_bound], method='bisect')
    
    if result.converged:
        return result.root
    else:
        raise ValueError("No solution found for the rate that satisfies the equation.")