## Start

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from pathlib import Path
import os
import glob
from scipy import optimize
import importlib

In [2]:
project_path = Path.cwd().parent
data_dir = f'{project_path}/data'
output_dir = f'{project_path}/output'

In [3]:
test_case_pair = [
    ("Z23390746", "AAPL"),
    ("Z23390746", "FXAIX"),
    ("Z23390746", "912797SZ1"),
    ("Z23390746", "912797RJ8"),
    ("86964", "84679P173"),
    ("86964", "FBCGX"),
    ("Z06872898", None),
    ("241802439", "FZILX"),
    ("241802439", "FXAIX"),
]

# data_loader

## get_latest_position_file

In [7]:
files = glob.glob(os.path.join(data_dir, 'Portfolio_Positions_*.csv'))
files

['/Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Apr-06-2025.csv',
 '/Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Aug-05-2025.csv',
 '/Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Nov-16-2025.csv',
 '/Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Apr-29-2025.csv',
 '/Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-15-2026.csv',
 '/Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Dec-31-2025.csv',
 '/Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Apr-02-2025.csv',
 '/Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_May-06-2025.csv',
 '/Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-31-2026.csv']

In [8]:
latest_file = None
latest_date = None

for f in files:
    basename = os.path.basename(f)
    date_part = basename.replace('Portfolio_Positions_', '').replace('.csv', '')
    try:
        date_obj = datetime.strptime(date_part, '%b-%d-%Y')
        if latest_date is None or date_obj > latest_date:
            latest_date = date_obj
            latest_file = f
    except ValueError:
        continue
latest_date = pd.to_datetime(latest_date)
[latest_file, latest_date]

['/Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-31-2026.csv',
 Timestamp('2026-01-31 00:00:00')]

## clean_positions

In [6]:
from support_functions.data_loader import get_latest_position_file, clean_currency

data_dir = f'{project_path}/data'
pos_file, pos_date = get_latest_position_file(data_dir)
positions_df = pd.read_csv(pos_file, index_col=False)
positions_df = positions_df.dropna(subset=['Account Name'])
cols_to_clean = [
    'Last Price', 'Current Value', 
    'Cost Basis Total', 'Today\'s Gain/Loss Dollar', 
    'Total Gain/Loss Dollar'
]

In [7]:
for col in cols_to_clean:
    if col in positions_df.columns:
        positions_df[col] = positions_df[col].apply(clean_currency)

# Clean Quantity (remove match for formatting issues if any)
if 'Quantity' in positions_df.columns:
    positions_df['Quantity'] = pd.to_numeric(positions_df['Quantity'], errors='coerce').fillna(0)

In [8]:
positions_df['Account Name'].unique()

array(['Individual', 'ERNST & YOUNG 401(K)',
       'Cash Management (Individual)', 'Health Savings Account'],
      dtype=object)

## load_transactions

In [9]:
data_dir = f'{project_path}/data'
max_cols=14
hist_files = glob.glob(os.path.join(data_dir, 'Accounts_History_*.csv'))
transactions_dfs = []
print(f"Found {len(hist_files)} history files.")

for f in hist_files:
    df = pd.read_csv(f, header=0, usecols=range(max_cols))
    transactions_dfs.append(df)

transactions_df = pd.concat(transactions_dfs, ignore_index=True)

Found 4 history files.

In [10]:
transactions_df.columns

Index(['Run Date', 'Account', 'Account Number', 'Action', 'Symbol',
       'Description', 'Type', 'Price ($)', 'Quantity', 'Commission ($)',
       'Fees ($)', 'Accrued Interest ($)', 'Amount ($)', 'Settlement Date'],
      dtype='object')

In [12]:
transactions_df['Account'].unique()

array(['Individual', 'Health Savings Account',
       'Cash Management (Individual)', 'ERNST & YOUNG 401(K)', nan],
      dtype=object)

In [13]:
[transactions_df.iloc[292]['Run Date'],transactions_df.iloc[228]['Run Date']]

['01/31/2024', '04/25/2024']

## clean_transactions

In [10]:
from support_functions import data_loader
importlib.reload(data_loader)
from support_functions.data_loader import load_transactions, clean_currency
data_dir = f'{project_path}/data'
transactions_df = load_transactions(data_dir)

Found 5 history files.

In [11]:
transactions_df.columns

Index(['Run Date', 'Account', 'Account Number', 'Action', 'Symbol',
       'Description', 'Type', 'Price ($)', 'Quantity', 'Commission ($)',
       'Fees ($)', 'Accrued Interest ($)', 'Amount ($)', 'Settlement Date'],
      dtype='object')

In [16]:
transactions_df['Account'].unique()

array(['Individual', 'Health Savings Account',
       'Cash Management (Individual)', 'ERNST & YOUNG 401(K)', nan],
      dtype=object)

In [13]:
transactions_df[transactions_df['Action'].str.contains('Exchange',na=False)]

,Run Date,Account,Account Number,Action,Symbol,Description,Type,Price ($),Quantity,Commission ($),Fees ($),Accrued Interest ($),Amount ($),Settlement Date
337,12/17/2025,ERNST & YOUNG 401(K),86964,Exchange Out,NaN,SP 500 INDEX PL CL E,NaN,-60.961,NaN,NaN,NaN,NaN,-19450.82,NaN
338,12/17/2025,ERNST & YOUNG 401(K),86964,Exchange In,NaN,SP 500 INDEX PL CL F,NaN,60.955,NaN,NaN,NaN,NaN,19450.82,NaN

In [26]:
transactions_df['Amount ($)'].unique()

array(['Amount ($)', '-198.36', '-3.26', '0.2', '198.36', '3.26',
       '159.61', '40', '132.4', '308.95', '30000', '-342.04', '342.04',
       '-1642.64', '1642.64', '-11.12', '-1065.29', '11.12', '1065.29',
       '4.85', '35.4', '4', '-98925.69', '-2100', '24.9', '20000',
       '-20000', '-40000', '150000', '-99486.67', '18.3', '-120.16',
       '120.16', '-2.05', '50000', '2.05', '17.5', '-19861.24', '-3200',
       '-29840.57', '5', '7', '105.92', '247.16', '12.5', '-211.35',
       '211.35', '-1.7', '0.22', '1.7', '-19891.97', '-49432.51', '70000',
       '-4600', '-49429.35', '-19926.11', '-49424.93', '-6.64', '-241.99',
       '6.64', '241.99', '-1000', '5.33', '12.44', '11.1', '0.08',
       '-1.27', '0.28', '-2.98', '-83.8', '83.8', '-3.44', '0.23',
       '-29658.75', '3.44', '-29838.3', '10000', '33.4', '25000', '9.62',
       '22.5', '-9941.9', '17.1', '-260.33', '-2.08', '0.24', '260.33',
       '2.08', '-49699.58', '-49363.67', '129.32', '301.76', '100000',
       '-49697.54', '-49361.1', '-19517.7', '-24897.72', '1', '103.85',
       '242.3', '-9938.52', '11.5', '-46.5', '46.5', '-6.33', '6.33',
       '-4200', '60000', '-2000', '-4546.75', '-10000', '-730.8', '-1075',
       '-750', '-136.46', '136.46', '-4596.2', '-2487.5', '-1100', '7.4',
       '0.12', '-1.31', '0.06', '-2.94', '-94.14', '-7.41', '94.14',
       '7.41', '16.7', '11.4', '-316.42', '-6.19', '316.42', '6.19',
       '-98674.18', '-98672.92', '140000', '-100000', '-212.15', '212.15',
       '-4.55', '4.55', '-9867.29', '-58434.8', '-59202.99', '148500',
       '-29815.03', '-148500', '-19735.85', '-32.13', '32.13', '-2670',
       '0.07', '-1.28', '0.15', '-2.97', '-64.78', '64.78', '1500',
       '1000', '-19735.09', '0.74', '-0.24', '-114.19', '114.19', '0.00',
       '16.8', '-9000', '6', '-9867.67', '10.5', '-91.55', '91.55',
       '-1870', '0.16', '-1897.5', '-9867.92', '40000', '-9867.42',
       '-9938.28', nan, '-276.66', '276.66', '-3.23', '0.17', '-99443.11',
       '3.23', '165.38', '0.1', '136.71', '318.98', '-99442.33',
       '-541.61', '541.61', '-2351.76', '2351.76', '-1164.25', '-12.87',
       '1164.25', '12.87', '9.5', '-99721.56', '2395.56', '-19450.82',
       '19450.82', '37.2', '4.2', '-107.93', '107.93', '27.3',
       '-99438.44', '-99568.33', '18.6', '-167.4', '167.4', '200000',
       '-99401.11', '-99697.44', '-49770.07', '10.57', '1.3', '1336.71',
       '3118.98', '18.2', '8.2', '-99417.15', '34.5', '15', '-250.49',
       '-1.15', '0.19', '250.49', '1.15', '-99394.89', '-99547.33',
       '-99693.17', '-3800', '300000', '-99540.33', '-99384', '-11.89',
       '-500.58', '11.89', '500.58', '12', '0.3', '-1.33', '0.52',
       '-2.92', '14.23', '-245.69', '245.69', '-0.82', '0.82',
       '-99377.78', '-199371.56', '-499', '5.88', '13.72', '250000',
       '57.33', '-99366.67', '-99522.83', '-99362.22', '-201.98', '-2.91',
       '201.98', '2.91', '-99343.56', '-99667.11', '-4630.9', '-3728.21',
       '33.88', '14', '-111.12', '111.12', '-99332.67', '-11.79', '11.79',
       '-99501.83', '-49464.74', '-99335.78', '-485.71', '-10.13',
       '485.71', '10.13', '-99335', '-1570', '-980', '-1.3', '0.35',
       '-2.95', '-491.39', '-10.19', '491.39', '10.19', '-49545.49',
       '-99317.11', '-99484.33', '-99523.94', '-49462.85', '-99342.78',
       '-550.06', '-9.29', '550.06', '9.29', '2032.74', '-99341.22',
       '-99811.56', '-99494.15', '-336.77', '-7.85', '336.77', '7.85',
       '-99506.5', '-49752.38', '-50000', '-70.35', '70.35', '110000',
       '-283.42', '-9.22', '283.42', '9.22', '143.65', '335.2', '-1.23',
       '-0.08', '-3.02', '13.55', '-441.08', '-6.83', '441.08', '6.83',
       '-199013', '-49752.96', '-99671.39', '-99505.92', '24500', '25500',
       '-186.16', '-5.07', '0.18', '186.16', '5.07', '-39802.6',
       '-49303.35', '-1440', '-99504.17', '-473.06', '-4.48', '473.06',
       '4.48', '-49834.72', '-98939.6', '-1180', '-49304.18', '-69255.95',
       '-1.32', '0.4', '-2.93', '-46.64', '46.64', '-43.08', '0.13',
       '43.08', '10.6', '5.2', '-2770', '-1500', '10', '-43.45', '43.45',
       '-34.02', '34.02', '-32.21', '32.21', '0.05', '4.9', '-1645',
       '-850', '-1200', '100', '29000', '-768.2', '-85.2', '-1481.45',
       '-163.54', '-0.22', '-83.1', '83.1', '-9867.04', '-985', '-45.52',
       '45.52', '-46.65', '46.65', '-50.75', '50.75', '-900', '-950',
       '-53.84', '53.84', '-51.46', '51.46', '-49.16', '0.21', '49.16',
       '-50.08', '50.08', '-45.79', '45.79', '-45.34', '45.34', '-47.25',
       '47.25', '-930', '16.1', '-50.32', '50.32'], dtype=object)

In [5]:
transactions_df['Account'].unique()

array(['Individual', 'Cash Management (Individual)',
       'Health Savings Account', nan], dtype=object)

In [41]:
transactions_df[transactions_df['Account']=='Health Savings Account'].head()

,Run Date,Account,Account Number,Action,Symbol,Description,Type,Quantity,Price ($),Commission ($),Fees ($),Accrued Interest ($),Amount ($),Settlement Date
142,2024-01-17,Health Savings Account,241802439,PARTIC CONTR CURRENT PARTICIPANT CUR YR (Cash),,No Description,Cash,0.0,0.0,0.0,0.0,0.0,159.61,NaT
156,2024-01-31,Health Savings Account,241802439,INTEREST EARNED FDIC INSURED DEPOSIT AT LEADER...,QKZCQ,FDIC INSURED DEPOSIT AT LEADER BANK HSA,Cash,0.0,0.0,0.0,0.0,0.0,0.16,NaT
141,2024-02-01,Health Savings Account,241802439,PARTIC CONTR CURRENT PARTICIPANT CUR YR (Cash),,No Description,Cash,0.0,0.0,0.0,0.0,0.0,159.61,NaT
140,2024-02-14,Health Savings Account,241802439,PARTIC CONTR CURRENT PARTICIPANT CUR YR (Cash),,No Description,Cash,0.0,0.0,0.0,0.0,0.0,159.61,NaT
157,2024-02-26,Health Savings Account,241802439,EXCHANGED TO FDRXX FIDELITY GOVERNMENT CASH RE...,FDRXX,FIDELITY GOVERNMENT CASH RESERVES,Cash,0.0,0.0,0.0,0.0,0.0,0.00,NaT

## load_data

In [ ]:
from support_functions import analysis
importlib.reload(analysis)
from support_functions.data_loader import (
    get_latest_position_file, clean_positions,
    load_transactions, clean_transactions
)

In [4]:
data_dir = f'{project_path}/data'
pos_file, pos_date = get_latest_position_file(data_dir)
print(f"Loading positions from: {pos_file} (Date: {pos_date.strftime('%Y-%m-%d')})")
positions_df = pd.read_csv(pos_file, index_col=False)

positions_df = clean_positions(positions_df)

Loading positions from: /Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Dec-31-2025.csv (Date: 2025-12-31)

In [5]:
transactions_df = load_transactions(data_dir)
    
transactions_df = clean_transactions(transactions_df)

Found 4 history files.

In [88]:
# transactions_df[transactions_df['Symbol'] == 'AAPL']

## Clean Data

In [89]:
from support_functions.data_loader import load_data

data_dir = f'{project_path}/data'
positions_df, transactions_df, latest_date = load_data(data_dir)

Loading positions from: /Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Dec-31-2025.csv (Date: 2025-12-31)
Found 4 history files.

In [90]:
ref_df = positions_df[['Symbol', 'Description']].dropna().drop_duplicates()
desc_to_sym = dict(zip(ref_df['Description'].str.strip(), ref_df['Symbol'].str.strip()))

In [93]:
mask_missing_sym = transactions_df['Symbol'].isna() | (transactions_df['Symbol'] == '')
mapped_syms = transactions_df.loc[mask_missing_sym, 'Description'].str.strip().map(desc_to_sym)
transactions_df.loc[mask_missing_sym, 'Symbol'] = mapped_syms.fillna(transactions_df.loc[mask_missing_sym, 'Symbol'])

In [100]:
desc_to_sym['SP 500 INDEX PL CL F']

'84679P173'

In [ ]:
transactions_df.loc[295]['Description']
SP 500 INDEX PL CL E
SP 500 INDEX PL CL F

'SP 500 INDEX PL CL E'

In [95]:
transactions_df[transactions_df['Description']=='SP 500 INDEX PL CL E']

,Run Date,Account,Account Number,Action,Symbol,Description,Type,Price ($),Quantity,Commission ($),Fees ($),Accrued Interest ($),Amount ($),Settlement Date,Asset Type
295,2024-01-26,ERNST & YOUNG 401(K),86964,Contributions,NaN,SP 500 INDEX PL CL E,NaN,1.070,0.0,0.0,0.0,0.0,242.30,NaT,Stock
284,2024-02-09,ERNST & YOUNG 401(K),86964,Contributions,NaN,SP 500 INDEX PL CL E,NaN,1.041,0.0,0.0,0.0,0.0,242.30,NaT,Stock
277,2024-02-23,ERNST & YOUNG 401(K),86964,Contributions,NaN,SP 500 INDEX PL CL E,NaN,1.027,0.0,0.0,0.0,0.0,242.30,NaT,Stock
264,2024-03-08,ERNST & YOUNG 401(K),86964,Contributions,NaN,SP 500 INDEX PL CL E,NaN,1.020,0.0,0.0,0.0,0.0,242.30,NaT,Stock
260,2024-03-22,ERNST & YOUNG 401(K),86964,Contributions,NaN,SP 500 INDEX PL CL E,NaN,0.997,0.0,0.0,0.0,0.0,242.30,NaT,Stock
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
369,2025-11-14,ERNST & YOUNG 401(K),86964,Contributions,NaN,SP 500 INDEX PL CL E,NaN,9.770,0.0,0.0,0.0,0.0,3118.98,NaT,Stock
360,2025-11-28,ERNST & YOUNG 401(K),86964,Contributions,NaN,SP 500 INDEX PL CL E,NaN,0.982,0.0,0.0,0.0,0.0,318.98,NaT,Stock
346,2025-12-12,ERNST & YOUNG 401(K),86964,Contributions,NaN,SP 500 INDEX PL CL E,NaN,0.985,0.0,0.0,0.0,0.0,318.98,NaT,Stock
336,2025-12-17,ERNST & YOUNG 401(K),86964,Change In Market Value,NaN,SP 500 INDEX PL CL E,NaN,0.000,0.0,0.0,0.0,0.0,2395.56,NaT,Stock
337,2025-12-17,ERNST & YOUNG 401(K),86964,Exchange Out,NaN,SP 500 INDEX PL CL E,NaN,-60.961,0.0,0.0,0.0,0.0,-19450.82,NaT,Stock

# flow_builder

## filter_entity_transactions

In [4]:
from support_functions import data_loader
importlib.reload(data_loader)
from support_functions.data_loader import load_data

In [5]:
data = load_data(data_dir)

Loading positions from: /Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-31-2026.csv (Date: 2026-01-31)
Found 5 history files.

In [49]:
account_num, entity_name = test_case_pair[6]

transactions_df = data.transactions
transactions_df.head()

,Run Date,Account,Account Number,Action,Symbol,Description,Type,Price ($),Quantity,Commission ($),Fees ($),Accrued Interest ($),Amount ($),Settlement Date,Asset Type
747,2022-07-26,Individual,Z23390746,Electronic Funds Transfer Received (Cash),,No Description,Cash,0.00,0.00,0.0,0.0,0.0,-1000.00,NaT,Transfer
746,2022-07-29,Individual,Z23390746,DIVIDEND RECEIVED FIDELITY TREASURY MONEY MARK...,FZFXX,FIDELITY TREASURY MONEY MARKET FUND,Cash,0.00,0.00,0.0,0.0,0.0,0.22,NaT,Cash
745,2022-07-29,Individual,Z23390746,REINVESTMENT FIDELITY TREASURY MONEY MARKET FU...,FZFXX,FIDELITY TREASURY MONEY MARKET FUND,Cash,1.00,0.22,0.0,0.0,0.0,-0.22,NaT,Cash
744,2022-08-05,Individual,Z23390746,YOU BOUGHT APPLE INC (AAPL) (Cash),AAPL,APPLE INC,Cash,163.54,1.00,0.0,0.0,0.0,-163.54,2022-08-09,Stock
743,2022-08-05,Individual,Z23390746,YOU BOUGHT APPLE INC (AAPL) (Cash),AAPL,APPLE INC,Cash,164.61,9.00,0.0,0.0,0.0,-1481.45,2022-08-09,Stock

In [54]:
data.transactions[data.transactions['Account Number']=='Z06872898']

,Run Date,Account,Account Number,Action,Symbol,Description,Type,Price ($),Quantity,Commission ($),Fees ($),Accrued Interest ($),Amount ($),Settlement Date,Asset Type
739,2022-08-16,Cash Management (Individual),Z06872898,JOURNALED (Cash),NaN,No Description,Cash,0.0,0.0,0.0,0.0,0.0,100.00,NaT,Stock
733,2022-08-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.05,NaT,Cash
728,2022-09-30,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.10,NaT,Cash
725,2022-10-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.13,NaT,Cash
716,2022-11-30,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.13,NaT,Cash
713,2022-12-30,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.17,NaT,Cash
815,2023-01-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.19,NaT,Cash
805,2023-02-28,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.18,NaT,Cash
802,2023-03-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.20,NaT,Cash
799,2023-04-28,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.20,NaT,Cash
792,2023-05-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.22,NaT,Cash
789,2023-06-30,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.21,NaT,Cash
786,2023-07-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.22,NaT,Cash
779,2023-08-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.23,NaT,Cash
774,2023-09-29,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.23,NaT,Cash
771,2023-10-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.23,NaT,Cash
764,2023-11-30,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.23,NaT,Cash
758,2023-12-29,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.24,NaT,Cash
291,2024-01-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.24,NaT,Cash
270,2024-02-29,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.22,NaT,Cash
253,2024-03-28,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.24,NaT,Cash
223,2024-04-30,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.23,NaT,Cash
197,2024-05-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.24,NaT,Cash
174,2024-06-28,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.23,NaT,Cash
142,2024-07-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.24,NaT,Cash
115,2024-08-30,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.24,NaT,Cash
93,2024-09-30,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.23,NaT,Cash
61,2024-10-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.22,NaT,Cash
37,2024-11-29,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.20,NaT,Cash
2,2024-12-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.20,NaT,Cash
633,2025-01-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.20,NaT,Cash
611,2025-02-28,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.18,NaT,Cash
585,2025-03-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.20,NaT,Cash
554,2025-04-30,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.19,NaT,Cash
527,2025-05-30,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.20,NaT,Cash
502,2025-06-30,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.19,NaT,Cash
471,2025-07-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.20,NaT,Cash
443,2025-08-29,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.20,NaT,Cash
416,2025-09-30,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.19,NaT,Cash
381,2025-10-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.19,NaT,Cash
356,2025-11-28,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.17,NaT,Cash
315,2025-12-31,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.17,NaT,Cash
674,2026-01-30,Cash Management (Individual),Z06872898,INTEREST EARNED FDIC INSURED DEPOSIT AT US BAN...,QUSBQ,FDIC INSURED DEPOSIT AT US BANK NOT COV,Cash,0.0,0.0,0.0,0.0,0.0,0.17,NaT,Cash

## filter_entity_positions

In [9]:
from support_functions import data_loader
importlib.reload(data_loader)
from support_functions.data_loader import load_data

In [10]:
data = load_data(data_dir)

Loading positions from: /Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-31-2026.csv (Date: 2026-01-31)
Found 5 history files.

In [11]:
account_num, entity_name = test_case_pair[0]

positions_df = data.positions
positions_df.head()

,Account Number,Account Name,Symbol,Description,Quantity,Last Price,Last Price Change,Current Value,Today's Gain/Loss Dollar,Today's Gain/Loss Percent,Total Gain/Loss Dollar,Total Gain/Loss Percent,Percent Of Account,Cost Basis Total,Average Cost Basis,Type,Asset Type
0,Z23390746,Individual,FXAIX,FIDELITY 500 INDEX FUND,749.338,241.160,-$1.03,180710.35,-771.82,-0.43%,38146.41,+26.75%,14.34%,142563.94,$190.25,Cash,Stock
1,Z23390746,Individual,FSKAX,FIDELITY TOTAL MARKET INDEX FUND,658.109,189.750,-$1.07,124876.18,-704.18,-0.57%,22576.29,+22.06%,9.91%,102299.89,$155.45,Cash,Stock
2,Z23390746,Individual,912797SQ1,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 02...,100000.000,99.921,+$0.032,99921.00,32.00,+0.03%,482.56,+0.48%,7.93%,99438.44,--,Cash,Bond
3,Z23390746,Individual,912797SR9,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 02...,100000.000,99.849,+$0.031,99849.00,31.00,+0.03%,128.61,+0.12%,7.92%,99720.39,--,Cash,Bond
4,Z23390746,Individual,912797SS7,UNITED STATES TREAS BILLS ZERO CPN 0.00000% 02...,100000.000,99.779,+$0.031,99779.00,31.00,+0.03%,336.67,+0.33%,7.92%,99442.33,--,Cash,Bond

## build_entity_cash_flows

In [32]:
from support_functions import data_loader
importlib.reload(data_loader)
from support_functions.data_loader import load_data

from support_functions import flow_builders
importlib.reload(flow_builders)
from support_functions.flow_builders import (
    filter_entity_transactions,
    filter_entity_positions,
    EntityCashFlows
)

data = load_data(data_dir)
transactions_df = data.transactions
positions_df = data.positions
latest_date = data.latest_date

Loading positions from: /Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-31-2026.csv (Date: 2026-01-31)
Found 5 history files.

In [33]:
account_num, entity_name = test_case_pair[4]

filtered_hist = filter_entity_transactions(transactions_df, account_num, entity_name)
filtered_posi = filter_entity_positions(positions_df, account_num, entity_name)
[account_num, entity_name]

['86964', '84679P173']

In [34]:
cash_flows = []
total_invested = 0.0    
current_val = filtered_posi['Current Value'].iloc[0] if not filtered_posi.empty else 0.0
current_basis = filtered_posi['Cost Basis Total'].iloc[0] if not filtered_posi.empty else 0.0

In [35]:
for _, row in filtered_hist.iterrows():
    date = row['Run Date']
    amount = row['Amount ($)']
    flow = amount
    cash_flows.append((date, flow))
    
    if flow < 0:
        total_invested += abs(flow)

In [36]:
[total_invested,current_basis, current_val]

[39879.45000000001, np.float64(20404.91), np.float64(21056.77)]

In [115]:
cash_flows

[(Timestamp('2024-07-22 00:00:00'), -2000.0),
 (Timestamp('2024-10-04 00:00:00'), 6.64),
 (Timestamp('2024-10-04 00:00:00'), -6.64),
 (Timestamp('2024-10-04 00:00:00'), -1000.0),
 (Timestamp('2024-12-20 00:00:00'), -11.12),
 (Timestamp('2024-12-20 00:00:00'), 11.12),
 (Timestamp('2025-04-04 00:00:00'), 9.22),
 (Timestamp('2025-04-04 00:00:00'), -9.22),
 (Timestamp('2025-07-11 00:00:00'), -10.13),
 (Timestamp('2025-07-11 00:00:00'), 10.13),
 (Timestamp('2025-09-18 00:00:00'), -499.0),
 (Timestamp('2025-10-03 00:00:00'), 11.89),
 (Timestamp('2025-10-03 00:00:00'), -11.89),
 (Timestamp('2025-12-19 00:00:00'), 12.87),
 (Timestamp('2025-12-19 00:00:00'), -12.87)]

In [95]:
positions_df[positions_df['Account Number']==account_num]

,Account Number,Account Name,Symbol,Description,Quantity,Last Price,Last Price Change,Current Value,Today's Gain/Loss Dollar,Today's Gain/Loss Percent,Total Gain/Loss Dollar,Total Gain/Loss Percent,Percent Of Account,Cost Basis Total,Average Cost Basis,Type,Asset Type
34,241802439,Health Savings Account,FZILX,FIDELITY ZERO INTERNATIONAL INDEX,281.381,15.59,-$0.24,4386.72,-67.54,-1.52%,550.58,+14.35%,42.37%,3836.14,$13.63,Cash,Stock
35,241802439,Health Savings Account,FXAIX,FIDELITY 500 INDEX FUND,17.804,241.16,-$1.03,4293.61,-18.34,-0.43%,732.74,+20.57%,41.47%,3560.87,$200.00,Cash,Stock
36,241802439,Health Savings Account,FDRXX**,HELD IN MONEY MARKET,0.000,0.00,NaN,1673.02,0.00,NaN,0.00,NaN,16.16%,0.00,NaN,Cash,Cash

In [97]:
transactions_df[transactions_df['Account Number']==account_num]['Description'].unique()

array(['No Description', 'FDIC INSURED DEPOSIT AT LEADER BANK HSA',
       'FIDELITY GOVERNMENT CASH RESERVES', 'FIDELITY 500 INDEX FUND',
       'FIDELITY ZERO INTERNATIONAL INDEX'], dtype=object)

In [103]:
transactions_df[
    (transactions_df['Account Number']==account_num) &
    (transactions_df['Description']=='FIDELITY ZERO INTERNATIONAL INDEX')
]

,Run Date,Account,Account Number,Action,Symbol,Description,Type,Price ($),Quantity,Commission ($),Fees ($),Accrued Interest ($),Amount ($),Settlement Date,Asset Type
462,2025-08-06,Health Savings Account,241802439,YOU BOUGHT PROSPECTUS UNDER SEPARATE COVER FID...,FZILX,FIDELITY ZERO INTERNATIONAL INDEX,Cash,13.61,273.932,0.0,0.0,0.0,-3728.21,2025-08-07,Stock
344,2025-12-12,Health Savings Account,241802439,DIVIDEND RECEIVED FIDELITY ZERO INTERNATIONAL ...,FZILX,FIDELITY ZERO INTERNATIONAL INDEX,Cash,0.00,0.000,0.0,0.0,0.0,107.93,NaT,Stock
343,2025-12-12,Health Savings Account,241802439,REINVESTMENT FIDELITY ZERO INTERNATIONAL INDEX...,FZILX,FIDELITY ZERO INTERNATIONAL INDEX,Cash,14.49,7.449,0.0,0.0,0.0,-107.93,NaT,Stock

## build_asset_class_cash_flows

In [4]:
from support_functions import data_loader
importlib.reload(data_loader)
from support_functions.data_loader import load_data

from support_functions import flow_builders
importlib.reload(flow_builders)
from support_functions.flow_builders import (
    filter_entity_transactions,
    filter_entity_positions,
    EntityCashFlows
)

data = load_data(data_dir)
transactions_df = data.transactions
positions_df = data.positions
latest_date = data.latest_date

Loading positions from: /Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-31-2026.csv (Date: 2026-01-31)
Found 5 history files.

In [6]:
asset_class = 'Stock'
account_num, entity_name = test_case_pair[0]


transactions_df = data.transactions
positions_df = data.positions
latest_date = data.latest_date

filtered_hist = transactions_df[
    (transactions_df['Account Number'] == account_num) &
    (transactions_df['Asset Type'] == asset_class)
]
filtered_posi = positions_df[
    (positions_df['Account Number'] == account_num) &
    (positions_df['Asset Type'] == asset_class)
]

cash_flows = []
total_invested = 0.0
current_val = filtered_posi['Current Value'].sum()
current_basis = filtered_posi['Cost Basis Total'].sum()
for _, row in filtered_hist.iterrows():
    date = row['Run Date']
    amount = row['Amount ($)']
    flow = amount
    cash_flows.append((date, flow))
    
    if flow < 0:
        total_invested += abs(flow)

In [7]:
[total_invested, current_basis, current_val]

[399361.26999999996, np.float64(399361.26999999996), np.float64(502149.93)]

In [8]:
# filtered_hist.to_csv("/Users/yifanli/Github/fidelity-portfolio-tracker/data/temp.csv")

## build_account_cash_flows

In [64]:
from support_functions import data_loader
importlib.reload(data_loader)
from support_functions.data_loader import load_data

from support_functions import flow_builders
importlib.reload(flow_builders)
from support_functions.flow_builders import (
    filter_account_transactions,
    filter_account_positions,
    EntityCashFlows
)

data = load_data(data_dir)
transactions_df = data.transactions
positions_df = data.positions
latest_date = data.latest_date

Loading positions from: /Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-31-2026.csv (Date: 2026-01-31)
Found 5 history files.

In [65]:
account_num, entity_name = test_case_pair[6]


transactions_df = data.transactions
positions_df = data.positions
latest_date = data.latest_date

filtered_hist = filter_account_transactions(transactions_df, account_num)
filtered_posi = filter_account_positions(positions_df, account_num)


cash_flows = []
total_invested = 0.0
current_val = filtered_posi['Current Value'].sum()
current_basis = filtered_posi['Cost Basis Total'].sum()
for _, row in filtered_hist.iterrows():
    date = row['Run Date']
    amount = row['Amount ($)']
    flow = amount
    cash_flows.append((date, flow))
    
total_invested = sum([flow for _, flow in cash_flows])

cash_flows.append((latest_date, current_val))
result = EntityCashFlows(
    cash_flows=cash_flows, 
    total_invested=total_invested, 
    current_value=current_val,
    latest_date=latest_date
)

In [66]:
cash_flows

[(Timestamp('2022-08-16 00:00:00'), -100.0),
 (Timestamp('2022-08-31 00:00:00'), 0.05),
 (Timestamp('2022-09-30 00:00:00'), 0.1),
 (Timestamp('2022-10-31 00:00:00'), 0.13),
 (Timestamp('2022-11-30 00:00:00'), 0.13),
 (Timestamp('2022-12-30 00:00:00'), 0.17),
 (Timestamp('2023-01-31 00:00:00'), 0.19),
 (Timestamp('2023-02-28 00:00:00'), 0.18),
 (Timestamp('2023-03-31 00:00:00'), 0.2),
 (Timestamp('2023-04-28 00:00:00'), 0.2),
 (Timestamp('2023-05-31 00:00:00'), 0.22),
 (Timestamp('2023-06-30 00:00:00'), 0.21),
 (Timestamp('2023-07-31 00:00:00'), 0.22),
 (Timestamp('2023-08-31 00:00:00'), 0.23),
 (Timestamp('2023-09-29 00:00:00'), 0.23),
 (Timestamp('2023-10-31 00:00:00'), 0.23),
 (Timestamp('2023-11-30 00:00:00'), 0.23),
 (Timestamp('2023-12-29 00:00:00'), 0.24),
 (Timestamp('2024-01-31 00:00:00'), 0.24),
 (Timestamp('2024-02-29 00:00:00'), 0.22),
 (Timestamp('2024-03-28 00:00:00'), 0.24),
 (Timestamp('2024-04-30 00:00:00'), 0.23),
 (Timestamp('2024-05-31 00:00:00'), 0.24),
 (Timestamp('2024-06-28 00:00:00'), 0.23),
 (Timestamp('2024-07-31 00:00:00'), 0.24),
 (Timestamp('2024-08-30 00:00:00'), 0.24),
 (Timestamp('2024-09-30 00:00:00'), 0.23),
 (Timestamp('2024-10-31 00:00:00'), 0.22),
 (Timestamp('2024-11-29 00:00:00'), 0.2),
 (Timestamp('2024-12-31 00:00:00'), 0.2),
 (Timestamp('2025-01-31 00:00:00'), 0.2),
 (Timestamp('2025-02-28 00:00:00'), 0.18),
 (Timestamp('2025-03-31 00:00:00'), 0.2),
 (Timestamp('2025-04-30 00:00:00'), 0.19),
 (Timestamp('2025-05-30 00:00:00'), 0.2),
 (Timestamp('2025-06-30 00:00:00'), 0.19),
 (Timestamp('2025-07-31 00:00:00'), 0.2),
 (Timestamp('2025-08-29 00:00:00'), 0.2),
 (Timestamp('2025-09-30 00:00:00'), 0.19),
 (Timestamp('2025-10-31 00:00:00'), 0.19),
 (Timestamp('2025-11-28 00:00:00'), 0.17),
 (Timestamp('2025-12-31 00:00:00'), 0.17),
 (Timestamp('2026-01-30 00:00:00'), 0.17),
 (Timestamp('2026-01-31 00:00:00'), np.float64(108.34))]

In [64]:
xirr(cash_flows)

np.float64(0.1702665577099441)

# math_utils

## get_total_pnl

In [31]:
from support_functions import data_loader
importlib.reload(data_loader)
from support_functions.data_loader import load_data

from support_functions import flow_builders
importlib.reload(flow_builders)
from support_functions.flow_builders import (
    build_entity_cash_flows,
    build_account_cash_flows
)

In [32]:
data = load_data(data_dir)
transactions_df = data.transactions
positions_df = data.positions
latest_date = data.latest_date

Loading positions from: /Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-31-2026.csv (Date: 2026-01-31)
Found 5 history files.

In [33]:
account_num, entity_name = test_case_pair[0]

# entity_cash_flows = build_entity_cash_flows(data, account_num, entity_name)
entity_cash_flows = build_account_cash_flows(data, account_num)

In [37]:
cash_flows = entity_cash_flows.cash_flows
total_invested = entity_cash_flows.total_invested
current_value = entity_cash_flows.current_value
current_basis = entity_cash_flows.current_basis
latest_date = entity_cash_flows.latest_date

[total_invested, current_basis, current_value]

[1100000.0, np.float64(1095876.6199999999), np.float64(1260161.97)]

In [36]:
total_invested

1100000.0

In [26]:
total_pnl = sum(amount for date, amount in cash_flows)
total_pnl

np.float64(160161.96999999997)

In [28]:
entity_cash_flows.total_invested

-1100000.0

In [25]:
[total_invested,current_basis,current_value]

[39879.45000000001, np.float64(20404.91), np.float64(21056.77)]

In [40]:
def xirr(cash_flows):
    """
    Calculate Internal Rate of Return (XIRR).
    cash_flows: List of (date, amount) tuples.
    """
    if not cash_flows or len(cash_flows) < 2:
        return None
        
    dates, amounts = zip(*cash_flows)
    
    # Convert dates to days from start
    min_date = min(dates)
    days = [(d - min_date).days for d in dates]
    
    # Optimization function
    def npv(r):
        arr = np.array(days)
        vals = np.array(amounts)
        return np.sum(vals / (1 + r)**(arr / 365.0))
        
    # Check signs
    pos = any(a > 0 for a in amounts)
    neg = any(a < 0 for a in amounts)
    if not (pos and neg):
        return None # Can't calculate IRR without both inflows and outflows
        
    try:
        res = optimize.newton(npv, 0.1, maxiter=50) # start guess at 10%
        return res
    except RuntimeError:
        return None


irr_val = xirr(cash_flows)
irr_val

np.float64(0.09848867226958016)

## get_macaulay_duration

In [146]:
from support_functions import data_loader
importlib.reload(data_loader)
from support_functions.data_loader import load_data

from support_functions import flow_builders
importlib.reload(flow_builders)
from support_functions.flow_builders import (
    build_entity_cash_flows
)

from support_functions import math_utils
importlib.reload(math_utils)
from support_functions.math_utils import (
    xirr
)

In [147]:
data = load_data(data_dir)
transactions_df = data.transactions
positions_df = data.positions
latest_date = data.latest_date

Loading positions from: /Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-31-2026.csv (Date: 2026-01-31)
Found 5 history files.

In [187]:
account_num = "Z23390746"
entity_name = "912797RJ8" # AAPL & FXAIX & 912797SZ1 & 912797RJ8

entity_cash_flows = build_entity_cash_flows(data, account_num, entity_name)

In [188]:
cash_flows = entity_cash_flows.cash_flows
total_invested = entity_cash_flows.total_invested
current_value = entity_cash_flows.current_value
current_basis = entity_cash_flows.current_basis
latest_date = entity_cash_flows.latest_date

In [189]:
discount_rate=0.045

In [190]:
times = []
pvs = []

for date, amount in cash_flows:
    t = (date - cash_flows[0][0]).days / 365.0
    pv = amount * np.exp(-discount_rate * t)
    
    times.append(t)
    pvs.append(pv)

abs_pvs = np.abs(pvs)
total_pv = np.sum(abs_pvs)

# if total_pv == 0: return 0

mac_duration = np.sum(np.array(times) * abs_pvs) / total_pv
mac_duration

np.float64(0.06024086370048307)

In [191]:
invested_cash_flows = [flow for flow in cash_flows if flow[1] < 0]
dates, amounts = zip(*invested_cash_flows)
amounts = pd.Series(amounts)
amounts_ratio = amounts/amounts.sum()
holding_period = pd.Series([(latest_date - d).days for d in dates])
(amounts_ratio*holding_period).sum()/365.0

np.float64(0.1643835616438356)

In [192]:
dates, amounts = zip(*cash_flows)
amounts = pd.Series(amounts)

# è®¡ç®—ç»å¯¹æŠ•å…¥æ€»é¢ï¼ˆåˆ†æ¯é€šå¸¸ä½¿ç”¨æ€»æµå‡ºï¼Œå³æ€»æˆæœ¬ï¼‰
total_outflow = abs(amounts[amounts < 0].sum())


# è®¡ç®—æ¯ä¸€ç¬”çŽ°é‡‘æµè·ç¦»ç»“ç®—æ—¥çš„å¤©æ•°
# æ³¨æ„ï¼šè¿™é‡Œçš„ amounts åŒ…å«æ­£è´Ÿå€¼
holding_days = pd.Series([(latest_date - d).days for d in dates])

# (é‡‘é¢ * å¤©æ•°) çš„æ€»å’Œ / æ€»æŠ•å…¥æˆæœ¬
# è´Ÿå‘çŽ°é‡‘æµäº§ç”Ÿçš„â€œæŒæœ‰å¤©æ•°â€ä¼šè¢«æ­£å‘çŽ°é‡‘æµï¼ˆå–å‡ºï¼‰æŠµæ¶ˆ
weighted_days = (amounts * holding_days).sum()

# å› ä¸ºæµå…¥æ˜¯æ­£ï¼Œæµå‡ºæ˜¯è´Ÿï¼Œæ‰€ä»¥ç»“æžœé€šå¸¸æ˜¯è´Ÿæ•°ï¼Œå–ç»å¯¹å€¼
abs(weighted_days / total_outflow) / 365.0

np.float64(0.12035789963026547)

# PortfolioAnalyzer

In [106]:
from support_functions import portfolio_analyzer
importlib.reload(portfolio_analyzer)
from support_functions.portfolio_analyzer import PortfolioAnalyzer

In [107]:
analyzer = PortfolioAnalyzer(data_dir, output_dir)

Loading positions from: /Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-31-2026.csv (Date: 2026-01-31)
Found 5 history files.

## analyze_entity_in_account

In [4]:
from support_functions import portfolio_analyzer
importlib.reload(portfolio_analyzer)
from support_functions.portfolio_analyzer import (
    PortfolioAnalyzer,
)

from support_functions import flow_builders
importlib.reload(flow_builders)
from support_functions.flow_builders import (
    build_entity_cash_flows,
)

from support_functions import math_utils
importlib.reload(math_utils)
from support_functions.math_utils import (
    calculate_metrics,
)

analyzer = PortfolioAnalyzer(data_dir, output_dir)

Loading positions from: /Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-31-2026.csv (Date: 2026-01-31)
Found 5 history files.

/Users/yifanli/Github/fidelity-portfolio-tracker/src/support_functions/data_loader.py:152: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transactions_df['Symbol'] = transactions_df['Description'].map(symbol_map).fillna(transactions_df.get('Symbol', None))

In [21]:
account_num, entity_name = test_case_pair[8]
data = analyzer.data
transactions = data.transactions
position = data.positions
account_name = data.account_map.get(account_num, "Unknown")

In [22]:
entity_cash_flows = build_entity_cash_flows(data, account_num, entity_name)

In [23]:
metrics = calculate_metrics(entity_cash_flows)

In [24]:
result = pd.Series({
    'Account Number': account_num,
    'Account Name': account_name,
    'Entity Name': entity_name,
    'Total Invested': entity_cash_flows.total_invested,
    'Current Basis': entity_cash_flows.current_basis,
    'Current Value': entity_cash_flows.current_value,
    'Total PnL': metrics['Total PnL'],
    'IRR (%)': f"{metrics['IRR']:.2%}" if metrics['IRR'] is not None else "N/A",
    'Total Return (%)': f"{metrics['ROI']:.2%}",
    'Holding Period (Y)': f"{metrics['Holding Period (Y)']:.2f}"
})
result

Account Number                     241802439
Account Name          Health Savings Account
Entity Name                            FXAIX
Total Invested                       3560.87
Current Basis                        3560.87
Current Value                        4293.61
Total PnL                             794.61
IRR (%)                               16.81%
Total Return (%)                      22.32%
Holding Period (Y)                      1.29
dtype: object

In [31]:
pd.DataFrame(entity_cash_flows.cash_flows).to_csv("/Users/yifanli/Github/fidelity-portfolio-tracker/data/temp.csv")

In [49]:
transactions[transactions['Account Number'] == '86964']

,Run Date,Account,Account Number,Action,Symbol,Description,Type,Price ($),Quantity,Commission ($),Fees ($),Accrued Interest ($),Amount ($),Settlement Date,Asset Type
294,2024-01-26,ERNST & YOUNG 401(K),86964,Contributions,FBCGX,FID BLUE CHIP GR K6,NaN,3.716,0.0,0.0,0.0,0.0,103.85,NaT,Stock
295,2024-01-26,ERNST & YOUNG 401(K),86964,Contributions,84679P173,SP 500 INDEX PL CL E,NaN,1.070,0.0,0.0,0.0,0.0,242.30,NaT,Stock
284,2024-02-09,ERNST & YOUNG 401(K),86964,Contributions,84679P173,SP 500 INDEX PL CL E,NaN,1.041,0.0,0.0,0.0,0.0,242.30,NaT,Stock
283,2024-02-09,ERNST & YOUNG 401(K),86964,Contributions,FBCGX,FID BLUE CHIP GR K6,NaN,3.542,0.0,0.0,0.0,0.0,103.85,NaT,Stock
277,2024-02-23,ERNST & YOUNG 401(K),86964,Contributions,84679P173,SP 500 INDEX PL CL E,NaN,1.027,0.0,0.0,0.0,0.0,242.30,NaT,Stock
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
700,2026-01-02,ERNST & YOUNG 401(K),86964,RECORDKEEPING FEE,FBCGX,FID BLUE CHIP GR K6,NaN,-0.030,0.0,0.0,0.0,0.0,-1.32,NaT,Stock
690,2026-01-09,ERNST & YOUNG 401(K),86964,Contributions,FBCGX,FID BLUE CHIP GR K6,NaN,3.049,0.0,0.0,0.0,0.0,136.71,NaT,Stock
691,2026-01-09,ERNST & YOUNG 401(K),86964,Contributions,84679P173,SP 500 INDEX PL CL F,NaN,0.964,0.0,0.0,0.0,0.0,318.98,NaT,Stock
679,2026-01-23,ERNST & YOUNG 401(K),86964,Contributions,84679P173,SP 500 INDEX PL CL F,NaN,0.970,0.0,0.0,0.0,0.0,318.98,NaT,Stock
678,2026-01-23,ERNST & YOUNG 401(K),86964,Contributions,FBCGX,FID BLUE CHIP GR K6,NaN,3.085,0.0,0.0,0.0,0.0,136.71,NaT,Stock

## analyze_all_entities_in_account

In [42]:
from support_functions import portfolio_analyzer
importlib.reload(portfolio_analyzer)
from support_functions.portfolio_analyzer import (
    PortfolioAnalyzer,
)

from support_functions import flow_builders
importlib.reload(flow_builders)
from support_functions.flow_builders import (
    build_entity_cash_flows,
)

from support_functions import math_utils
importlib.reload(math_utils)
from support_functions.math_utils import (
    calculate_metrics,
)

analyzer = PortfolioAnalyzer(data_dir, output_dir)

Loading positions from: /Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-31-2026.csv (Date: 2026-01-31)
Found 5 history files.

In [43]:
account_num, entity_name = test_case_pair[0]
data = analyzer.data
transactions = data.transactions
position = data.positions
account_name = data.account_map.get(account_num, "Unknown")

In [44]:
results = []
sub_transactions = data.transactions[data.transactions['Account Number'] == account_num]
entity_name_list = sub_transactions['Symbol'].unique()
entity_name_list = entity_name_list[entity_name_list != '']
entity_name_list

array(['FZFXX', 'AAPL', 'SBUX', 'JPM', 'AXP', 'GOOGL', 'AMZN', 'NKE',
       '912797JK4', '912797LL9', '912797GZ4', '912797GN1', '912797HG5',
       'TSLA', 'FXAIX', '912797HQ3', '912797HT7', 'MCD', '912797GB7',
       '912797HS9', '912797JT5', '912797KV8', '912797JU2', '912797KB2',
       '912797KC0', 'FSKAX', 'FSPSX', 'COKE', 'MSFT', '912797KL0',
       '912797LH8', '912797KA4', '912797LE5', '912797GW1', '912797HP5',
       '912797KT3', '912797LC9', '912797LR6', '912797LX3', '912797MB0',
       '912797LY1', 'BRKB', '912797LZ8', '912797LP0', '912796ZV4', 'KHC',
       '912797MX2', 'VZ', '912797KJ5', '912797NB9', '912797PJ0',
       '912797MM6', 'NVDA', '912797ND5', '912797NK9', 'PEP', '912797PT8',
       '912797NC7', '912797NZ6', '912797NE3', '912797NN3', '912797LN5',
       '912797NV5', '912797QA8', '912797QB6', '912797QH3', '912797PW1',
       '912797PG6', '912797MG9', '912797QL4', '912797QU4', 'PG', 'COST',
       '912797QT7', '912797NA1', '912797QW0', '912797RD1', '912797RM1',
       '912797QG5', '912797RN9', '912797RQ2', '912797RX7', '912797QS9',
       'GLD', '912797QY6', '912797RZ2', '912797SE8', '912797RA7',
       '912797SG3', '912797RY5', '912797RJ8', '912797SQ1', '912797SS7',
       '912797ST5', '912797SY4', '912797RU3', '912797SR9', '912797SZ1'],
      dtype=object)

In [45]:
for entity_name in entity_name_list:
    result = analyzer.analyze_entity_in_account(account_num, entity_name)
    results.append(result)

In [46]:
pd.DataFrame(results)

,Account Number,Account Name,Entity Name,Total Invested,Current Basis,Current Value,Total PnL,IRR (%),Total Return (%),Holding Period (Y)
0,Z23390746,Individual,FZFXX,6659.36,0.00,0.0,0.00,N/A,0.00%,0.00
1,Z23390746,Individual,AAPL,15994.99,15994.99,23353.2,7577.61,17.20%,47.37%,2.28
2,Z23390746,Individual,SBUX,2453.40,2453.40,2758.5,495.50,6.77%,20.20%,2.89
3,Z23390746,Individual,JPM,1200.00,1200.00,3058.9,2025.90,34.36%,168.82%,3.45
4,Z23390746,Individual,AXP,1500.00,1500.00,3521.7,2108.70,29.78%,140.58%,3.42
...,...,...,...,...,...,...,...,...,...,...
93,Z23390746,Individual,912797ST5,99443.11,99443.11,99708.0,264.89,3.18%,0.27%,0.08
94,Z23390746,Individual,912797SY4,99449.33,99449.33,99638.0,188.67,3.05%,0.19%,0.06
95,Z23390746,Individual,912797RU3,99581.75,99581.75,99759.0,177.25,3.67%,0.18%,0.05
96,Z23390746,Individual,912797SR9,99720.39,99720.39,99849.0,128.61,2.98%,0.13%,0.04
97,Z23390746,Individual,912797SZ1,99440.00,99440.00,99566.0,126.00,2.93%,0.13%,0.04

In [47]:
account_num, entity_name = test_case_pair[0]
analyzer.analyze_all_entities_in_account(account_num).head(20)

,Account Number,Account Name,Entity Name,Total Invested,Current Basis,Current Value,Total PnL,IRR (%),Total Return (%),Holding Period (Y),Investment Ratio
14,Z23390746,Individual,FXAIX,142563.94,142563.94,180710.35,40710.35,21.96%,28.56%,1.26,15.06%
25,Z23390746,Individual,FSKAX,102299.89,102299.89,124876.18,24876.18,16.90%,24.32%,1.40,10.40%
91,Z23390746,Individual,912797SQ1,99438.44,99438.44,99921.00,482.56,3.53%,0.49%,0.14,8.32%
96,Z23390746,Individual,912797SR9,99720.39,99720.39,99849.00,128.61,2.98%,0.13%,0.04,8.32%
92,Z23390746,Individual,912797SS7,99442.33,99442.33,99779.00,336.67,3.30%,0.34%,0.10,8.31%
95,Z23390746,Individual,912797RU3,99581.75,99581.75,99759.00,177.25,3.67%,0.18%,0.05,8.31%
93,Z23390746,Individual,912797ST5,99443.11,99443.11,99708.00,264.89,3.18%,0.27%,0.08,8.31%
94,Z23390746,Individual,912797SY4,99449.33,99449.33,99638.00,188.67,3.05%,0.19%,0.06,8.30%
97,Z23390746,Individual,912797SZ1,99440.00,99440.00,99566.00,126.00,2.93%,0.13%,0.04,8.29%
26,Z23390746,Individual,FSPSX,63994.40,63994.40,80807.45,20807.45,20.37%,32.51%,1.54,6.73%
1,Z23390746,Individual,AAPL,15994.99,15994.99,23353.20,7577.61,17.20%,47.37%,2.28,1.95%
83,Z23390746,Individual,GLD,12270.00,12270.00,13348.50,1078.50,100.70%,8.79%,0.12,1.11%
13,Z23390746,Individual,TSLA,8217.50,8217.50,12912.30,4694.80,48.76%,57.13%,0.95,1.08%
28,Z23390746,Individual,MSFT,13342.95,13342.95,12908.70,-284.85,-1.39%,-2.13%,1.55,1.08%
5,Z23390746,Individual,GOOGL,4960.00,4960.00,10140.00,5208.60,57.42%,105.01%,1.13,0.84%
41,Z23390746,Individual,BRKB,9230.90,9230.90,9610.60,379.70,4.66%,4.11%,0.88,0.80%
17,Z23390746,Individual,MCD,5157.50,5157.50,6300.00,1371.40,15.09%,26.59%,1.71,0.52%
4,Z23390746,Individual,AXP,1500.00,1500.00,3521.70,2108.70,29.78%,140.58%,3.42,0.29%
3,Z23390746,Individual,JPM,1200.00,1200.00,3058.90,2025.90,34.36%,168.82%,3.45,0.25%
27,Z23390746,Individual,COKE,2175.00,2175.00,3041.20,2924.94,96.76%,134.48%,1.57,0.25%

## analyze_account_by_asset_class

In [19]:
from support_functions import portfolio_analyzer
importlib.reload(portfolio_analyzer)
from support_functions.portfolio_analyzer import (
    PortfolioAnalyzer,
)

from support_functions import flow_builders
importlib.reload(flow_builders)
from support_functions.flow_builders import (
    build_asset_class_cash_flows,
)

from support_functions import math_utils
importlib.reload(math_utils)
from support_functions.math_utils import (
    calculate_metrics,
)

analyzer = PortfolioAnalyzer(data_dir, output_dir)

Loading positions from: /Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-31-2026.csv (Date: 2026-01-31)
Found 5 history files.

In [17]:
account_num, entity_name = test_case_pair[0]
data = analyzer.data
account_name = data.account_map.get(account_num, "Unknown")


asset_class = "Stock"

In [9]:
asset_class_cash_flows = build_asset_class_cash_flows(analyzer.data, account_num, asset_class)
metrics = calculate_metrics(asset_class_cash_flows)

In [10]:
result = pd.Series({
    'Account Number': account_num,
    'Account Name': account_name,
    'Asset Type': asset_class,
    'Total Invested': asset_class_cash_flows.total_invested,
    'Current Basis': asset_class_cash_flows.current_basis,
    'Current Value': asset_class_cash_flows.current_value,
    'Total PnL': metrics['Total PnL'],
    'IRR (%)': f"{metrics['IRR']:.2%}" if metrics['IRR'] is not None else "N/A",
    'Total Return (%)': f"{metrics['ROI']:.2%}",
    'Holding Period (Y)': f"{metrics['Holding Period (Y)']:.2f}"
})
result

Account Number         Z23390746
Account Name          Individual
Asset Type                 Stock
Total Invested         399361.27
Current Basis          399361.27
Current Value          502149.93
Total PnL              115320.95
IRR (%)                   19.97%
Total Return (%)          28.88%
Holding Period (Y)          1.37
dtype: object

In [11]:
funding_cash_flows = build_asset_class_cash_flows(data, account_num, 'Transfer')
total_funding = sum(amount for date, amount in funding_cash_flows.cash_flows)
total_funding-696515.35-399361.27

np.float64(4123.380000000005)

In [12]:
cash_cash_flows = build_asset_class_cash_flows(data, account_num, 'Cash')

In [13]:
cash_cash_flows.total_invested

6659.359999999999

In [20]:
account_num, entity_name = test_case_pair[0]
analyzer.analyze_account_by_asset_class(account_num).head(20)

,Account Number,Account Name,Asset Class,Total Invested,Current Basis,Current Value,Total PnL,IRR (%),Total Return (%),Holding Period (Y),Investment Ratio
1,Z23390746,Individual,Bond,6333956.10,696515.35,698220.00,40263.90,4.23%,0.64%,0.69,55.41%
0,Z23390746,Individual,Stock,399361.27,399361.27,502149.93,115320.95,19.97%,28.88%,1.37,39.85%
2,Z23390746,Individual,Cash,6659.36,4123.38,59792.04,NaN,None,None,None,4.74%

## analyze_account_performance

In [70]:
from support_functions import portfolio_analyzer
importlib.reload(portfolio_analyzer)
from support_functions.portfolio_analyzer import (
    PortfolioAnalyzer,
)

from support_functions import flow_builders
importlib.reload(flow_builders)
from support_functions.flow_builders import (
    build_account_cash_flows,
)

from support_functions import math_utils
importlib.reload(math_utils)
from support_functions.math_utils import (
    calculate_metrics,
)

analyzer = PortfolioAnalyzer(data_dir, output_dir)

Loading positions from: /Users/yifanli/Github/fidelity-portfolio-tracker/data/Portfolio_Positions_Jan-31-2026.csv (Date: 2026-01-31)
Found 5 history files.

In [71]:
unique_accounts = analyzer.data.unique_accounts
results = []
        
for _, row in unique_accounts.iterrows():
    account_name = row['Account Name']
    account_num = row['Account Number']
    account_cash_flows = build_account_cash_flows(analyzer.data, account_num)
    metrics = calculate_metrics(account_cash_flows)

    results.append({
        'Account Name': account_name,
        'Account Number': account_num,
        'Total Invested': account_cash_flows.total_invested,
        'Current Basis': account_cash_flows.current_basis,
        'Current Value': account_cash_flows.current_value,
        'Total PnL': metrics['Total PnL'],
        'IRR': f"{metrics['IRR']:.2%}" if metrics['IRR'] is not None else "N/A",
        'Total Return (%)': f"{metrics['ROI']:.2%}",
        'Holding Period (Y)': f"{metrics['Holding Period (Y)']:.2f}"
    })

results = pd.DataFrame(results)
if not results.empty and 'Total Invested' in results.columns:
    ratio = results['Total Invested'] / results['Total Invested'].sum()
    results['Investment Ratio'] = ratio.apply(lambda x: f"{x:.2%}")
    results.sort_values('Total Invested', ascending=False)

In [72]:
results.sort_values('Total Invested', ascending=False)

,Account Name,Account Number,Total Invested,Current Basis,Current Value,Total PnL,IRR,Total Return (%),Holding Period (Y),Investment Ratio
0,Individual,Z23390746,1100000.00,1095876.62,1260161.97,160161.97,9.85%,14.56%,1.51,96.95%
1,ERNST & YOUNG 401(K),86964,25721.51,28204.63,30398.24,4676.73,20.99%,18.18%,0.84,2.27%
3,Health Savings Account,241802439,8787.30,7397.01,10353.35,1566.05,17.03%,17.82%,1.02,0.77%
2,Cash Management (Individual),Z06872898,100.00,0.00,108.34,16.68,4.73%,16.68%,0.00,0.01%